.header-image {
    background: #F0C27B;
    background: -webkit-linear-gradient(to left, #F0C27B, #4B1248);
    background: linear-gradient(to left, #F0C27B, #4B1248);
    width: 100vw;
    height: 100vh;
}